header {
    background-color: darkslategrey;
    text-align: center;
    background-color: url("record.png");
}

body {
    background-image: url("record.png");
    margin: 0,
    

}

main {
    background-color: lightgray;
    background-image: url("record.png");
    background-repeat:  repeat;
    padding: 2em;

}
